/* CSS Document */

body{

    background:url("../img/bg1.jpg");
	background-size: cover;
	background-color: #2d2d2d;
	

}

html{
	
	font-size: 1rem;

}

/*Header*/



.topo_nav a{ /*Links hamburguer*/

    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;

}

.topo_nav a.icon{

    background: black;
    display: block;
    position: absolute;
    left: 0;
    top: 0;

}

#logo-img {
	
 	 height: 3rem;
	
}

/*Scrolltop*/

.scroll {
    color: #fff;
    margin-top: 100px
}

#scrolltopo {
    position: fixed;
    bottom: 26px;
    right: 39px;
    z-index: 98;
    padding: 21px;
    background-color: #2d2d2d;
	border-style: solid;
	border-width: 0.1rem;
	border-color: #6c757d;
}

.js .cd-top--fade-out {
    opacity: .5
}

.js .cd-top--is-visible {
    visibility: visible;
    opacity: 1
}

.js .cd-top {
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s, visibility .3s, background-color .3s
}

.cd-top {
    position: fixed;
    bottom: 20px;
    bottom: var(--cd-back-to-top-margin);
    right: 20px;
    right: var(--cd-back-to-top-margin);
    display: inline-block;
    height: 40px;
    height: var(--cd-back-to-top-size);
    width: 40px;
    width: var(--cd-back-to-top-size);
    box-shadow: 0 0 10px rgba(0, 0, 0, .05) !important;
    background: url(https://res.cloudinary.com/dxfq3iotg/image/upload/v1571057658/cd-top-arrow.svg) no-repeat center 50%;
    background-color: #2d2d2d;
    background-color: #2d2d2d;
}

/*Footer*/

#rodape{

    background-color: #6c757d;

}

#rodape img{
	
	 height: 4rem;
	
}