/* CSS Document */

body{

    background:url("../img/bg1.jpg");
	background-size: cover;
	background-color: #2d2d2d;
	

}

html{
	
	font-size: 1rem;

}

/*Header*/



.topo_nav a{ /*Links hamburguer*/

    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;

}

.topo_nav a.icon{

    background: black;
    display: block;
    position: absolute;
    left: 0;
    top: 0;

}

#logo-img {
	
 	 height: 3rem;
	
}

.navbar-custom{
	
	background-color: #2d2d2d;
	
}

/*Jumbotron*/

#jumbo1{
	
	background-image: url("../img/jumbo-her.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
	text-shadow: 5px 5px 10px black;
	/*
	border-style: solid;
	border-width: 0.01em;
	border-color: black;
	*/
}

.jumbotron a:link{
	
	text-decoration: none;
	color: white;
	text-shadow: 2px 2px 10px #2d2d2d;
	
}

.jumbotron a:visited {
	
	text-decoration: none;
	color: white;
	text-shadow: 2px 2px 10px #2d2d2d;
	
}

.jumbotron a:hover {
	
	color: #F5F5F5;
	text-shadow: 2px 2px 10px grey;
	
}

.jumbotron a:active {
	
	color: white;
	text-shadow: 2px 2px 10px #2d2d2d;
	
}

#titulo1, #leg1, #subt1, #titulo2, #leg2, #subt2{
	
	background-color: rgba(45, 45, 45, 0.5);
	
}

#jumbo2{
	
	background-image: url("../img/me3.webp");
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
	text-shadow: 5px 5px 10px black;
	border-style: solid;
	border-width: 0.01em;
	border-color: black;
	
}

#fundo{
	
	background-color: #E5E5E5;
	border-style: solid;
	border-width: 0.2rem;
	border-color: #2d2d2d;
}

#esp{
	
	margin: 0;
	width: 100%;
	border-top: 0.1rem solid #2d2d2d;
	
}

/*Scrolltop*/

.scroll {
    color: #fff;
    margin-top: 100px
}

#scrolltopo {
    position: fixed;
    bottom: 26px;
    right: 39px;
    z-index: 98;
    padding: 21px;
    background-color: #2d2d2d;
	border-style: solid;
	border-width: 0.1rem;
	border-color: #4E4E4E;
}

.js .cd-top--fade-out {
    opacity: .5
}

.js .cd-top--is-visible {
    visibility: visible;
    opacity: 1
}

.js .cd-top {
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s, visibility .3s, background-color .3s
}

.cd-top {
    position: fixed;
    bottom: 20px;
    bottom: var(--cd-back-to-top-margin);
    right: 20px;
    right: var(--cd-back-to-top-margin);
    display: inline-block;
    height: 40px;
    height: var(--cd-back-to-top-size);
    width: 40px;
    width: var(--cd-back-to-top-size);
    box-shadow: 0 0 10px rgba(0, 0, 0, .05) !important;
    background: url(https://res.cloudinary.com/dxfq3iotg/image/upload/v1571057658/cd-top-arrow.svg) no-repeat center 50%;
    background-color: #2d2d2d;
    background-color: #2d2d2d;
}

/*Footer*/

#rodape{

    background-color: #2d2d2d;

}

#rodape p{

    color:white;

}

#rodape img{
	
	 height: 4rem;
	
}

.social i{
	
	color: white !important;
    font-size: 3rem !important;
	padding: 0.5rem;
	border-radius: 10px;
}

.fa-facebook-square:hover{
	
	background: #3B5998;
  	color: white;
	
}

.fa-twitter-square:hover{
	
	background: #55ACEE;
  	color: white;
	
}

.fa-instagram:hover{
	
	background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  	background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  	color: white;
	
}